/* Member Widget */
#members h3 {
  margin:0;
}
.inn-members-widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
}
.inn-members-widget ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.inn-members-widget h3 {
  overflow: hidden;
  *zoom: 1;
}
.inn-members-widget h3 ul {
  float: right;
  text-align: right;
}
.inn-members-widget h3 li {
  display: inline;
  margin-left: 0.9em;
}
.inn-members-widget h3 a {
  font-weight: normal;
  text-transform: none;
}
.inn-members-widget .member-wrapper {
  position: relative;
  margin:0 0 24px 0;
}
.inn-members-widget .member-wrapper li {
  display: inline;
  float: left;
  padding: 5px;
  margin: 0;
/*  width:150px;
  height:40px;*/
  overflow:hidden;
}
.inn-members-widget .member-wrapper li img {
  display:block;
  margin:0 auto;
  max-width: 160px;
  max-height: 50px;
  width: auto;
  height: auto;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:      translate(-50%, -50%); /* IE 9 */
  -webkit-transform:  translate(-50%, -50%); /* Safari */
  transform:          translate(-50%, -50%);
}
.inn-members-widget .member-wrapper li a {
  position: relative;
  display: block;
  text-decoration: none;
  border:1px solid #999;
  height:50px;
  width:160px;
  overflow:hidden;
}
.inn-members-widget .member-wrapper li div.donor-without-image {
  padding: 3px 6px;
  font-weight:bold;
  font-size:0.85rem;
  line-height:0.85rem;
  div {
    position: absolute;
    bottom: 6px;
  }
}

.inn-members-widget .donor-level {
    font-size: .75rem;
    background-color:#999;
    color: @white;
    padding: 0 5px;
    text-align: center;
    font-family: @sans-bold;
}
@media screen and (max-width: 767px) {

}
