.navis-slideshow,
.navis-slideshow h6 {
    font-family: @sans;
}

.permalink {
    display:none;
}

.navis-slideshow .slick-dots li.slick-active button {
    background-color: @primary;
}

.navis-slideshow .wp-caption-text {
    color:@neutral2;
    font-size: 14px!important;
}

.navis-slideshow h6.credit {
    font-family:@sans-bold;
    font-style: normal;
    text-transform: uppercase;
}

.hero .navis-slideshow h6.credit {
    color:@neutral2;
}

/**** FULL SIZE ***/

.navis-slideshow.navis-full .slick-dots.slick-active button {
    background-color: @primary;
}
.navis-slideshow.navis-full span.navis-before:hover {
    color:@primary;
}




