/**
 * popup styles for the newsletter subscribe form
 *
 * modified significantly from VOSD's styles, but borrowing from them for the [newsletter-list] shortcode's output.
 */
.pum-content {
  font-size: 16px !important;
  padding: 19px 30px 27px !important;

  input[type=submit] {
    background: @primary;
    border: medium none;
    color: #fff;
    padding: 7px 15px;
    font-family: @sans;
  }
}
// styles specific to the [newsletter-list] shortcode
.news-select{
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
    &::after {
      content: ':';
      display: inline;
    }
  }
  .mc-field-group {
    display: inline-block;
  }
  li {
      display: inline-block;
      margin: 4px;
  }
  ul {
    margin-left: 0;
  }
  input {
    margin: 0;
    vertical-align: middle;
  }
  label {
    margin: 0 4px;
    display: inline-block;
    line-height: 1;
  }
}
